*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

h1,h2,p{ font-family: 'Roboto', sans-serif;}
h2{
    font-weight: 400;
}

/* hero section styling */
.heroSection {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("assets/hero.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 8rem;
}
.heroText,.heroHeadline{
    color: white;
}
.heroText{
    font-size: clamp(0.75rem, 1.075rem, 1.5rem);
}
.heroHeadline{
    font-size: clamp(2rem, 5vw + 1rem, 5rem);

}
.heroContent{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.ctaBtns{
    display: flex;
    gap: 20px;
}
.cta1, .cta2{
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: .1s ease-out;
}
.cta1{
    background-color:#4285F4; 
    color: black; 
    border: none;
}
.cta2{
    border: 2px solid #4285F4;
    color: #4285F4;
    background-color: black;
}
.cta1:hover {
    background-color: #0056b3; 
    color: white; 
}
.cta2:hover{
    background-color:#4285F4; 
    color: black; 
    
}
/*  form styling */
.signUpForm{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 20px;
    z-index: 20;
}
#myForm {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 500px;
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
    animation: scale .1s ease-out;
}

@keyframes scale {

    from{
        transform: scale(0.8);

    }
    to{
        transform: scale(1);
    }
    
}
.formHeader{
    margin-bottom: 20px;
    text-align: center;
}
#myForm label {
   
    font-weight: bold;
}

#name,
#email,
#country {
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    transition: border-color 0.3s;
    width: 100%;
}

.filledInput{
    border-color: #dcdcdc;
}
.emptyInput{
    border-color: red;
}
#name:focus,
#email:focus,
#country:focus {
    border-color: #4285f4; /* Google blue */
    outline: none;
    box-shadow: 0 0 5px rgba(66, 133, 244, 0.5);
}

#myForm button {
    padding: 10px;
    background-color: #4285f4; /* Google blue */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/** myForm button loader animation**/
.loader {
    width: 25px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,white 90%,#4285f4) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
  }
  @keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}

#myForm button:hover {
    background-color: #357ae8; /* Darker shade of Google blue */
}



/* features(second) and third sections styling */
.featuresSection {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: start;
    align-items: center;
    padding: 0 8rem;
  }
  
  .featuresSectionHeader {
    font-size: clamp(1.2rem, 2vw + 1rem, 2.25rem);
    text-align: center;
  }
  
  .features {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    gap: 2rem;
   
  }
  
  .feature {
    display: flex;
    gap: 0.5rem;
    align-items: start;
    padding: 20px;
 
  }
  
  .number-box {
    background-color: #4285F4;
    padding: 5px 10px;
    color: white;
    font-size: 1.2rem;
    
  }
  
  .text-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .text-box-header {
    font-size: 1.5rem;
    color: #2F2F2F;
  }
  
  .text-box-text {
    font-size: 1.075rem;
    color: #6B7280;
  }

  /* second and fourth sections styling */

  .secondSection{
    margin-top: 8rem;
    width: 100%;
    min-height: 70vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("assets/image1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 8rem;
    justify-content: center;
  }
  .secondSectionContent{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.secondSectionHeadline{
    font-size: clamp(1.2rem, 2vw + 1rem, 2.25rem);
    color: white;
    text-align: start;
    
}
.secondSectionCards{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
   
}
.secondSectionCard{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.secondSectionCard-header {
    font-size: 1.5rem;
   
  }
  
  .secondSectionCard-text {
    font-size: 1.075rem;
   
  
  }
  .secondSectionCard-bg{
    background-color: #23457A;
  }
  .secondSectionCard-number{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    background-color: #23457A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  /* 3rd section styling is same as feature section except some changes*/

  .featureBackground{
    background-color: #F9FAFB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  }
  /* signUp section styling */
  
  .signUpSection{
    margin-top: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 8rem;
    
  }
  .signUpSectionImgContainer{
    position: relative;
    width: 500px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    overflow: hidden;
  }
  .signUpSectionImgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .singUpSectionContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .singUpSectionContent-header{
    font-size: clamp(1.2rem, 2vw + 1rem, 2.25rem);
    color: #2F2F2F;
  }
  .singUpSectionContent p{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.075rem;
    color: #6B7280;
  }
  .joinWaitlist{
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: .1s ease-out;
    background-color:#4285F4; 
    color: white; 
    width: fit-content;
    border: none;
}

.joinWaitlist:hover {
    background-color: #0056b3; 
   
}
/* alst section styling*/

.lastSection{
    margin-top: 8rem;
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 0 8rem;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    background-color: #F9FAFB;
    box-shadow: 0 -0.5px 2px rgba(0, 0, 0, 0.2);
}
.lastSection h1{
    font-size: clamp(1.2rem, 2vw + 1rem, 2.25rem);
    color: #2F2F2F;
}
.lastSection p{
    font-size: 1.075rem;
    color: #6B7280;
}
/* responsive */
@media only screen and (max-width : 1024px) {
    
    .heroSection{
        padding: 6rem;
    }
    .cta1, .cta2{
        padding: 13px 23px;
        border-radius: 5px;
        font-size: 15px;
      
    }

    .featuresSection,.secondSection,.signUpSection,.lastSection{
        padding: 0 6rem;
    }
    .features{
        flex-direction: column;
    }
    .secondSectionCard{
        padding:15px ;
    }
    
   
    
}

@media only screen and (max-width : 768px) {
    
    .heroSection,.secondSection{
        padding: 4rem;
    }
    .cta1, .cta2{
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 14px;
      
    }
    .secondSection{
        justify-content: center;
    }
    .featuresSection,.signUpSection,.lastSection{
        padding: 0 4rem;
    }
    .secondSectionCards{
       flex-direction: column;
    }
    .secondSectionCard {
        align-items: center;
    }
    .signUpSection{
        flex-direction: column;
       
    }
    .signUpSectionImgContainer{
        width: 400px;
    }
    .secondSectionCard-number{
        width: 70%;
    }
}


@media only screen and (max-width : 640px) {
    
    .heroSection,.secondSection{
        padding: 2rem;
    }
    .cta1, .cta2{
       font-size: 13px;
    }
    .secondSection{
        justify-content: flex-start;
    }
    .featuresSection,.signUpSection,.lastSection{
        padding: 0 2rem;
    }
    .signUpSectionImgContainer{
        width: 300px;
    }
    .signUpSection{
        align-items: flex-start;
       
    }
    .secondSectionCard {
        align-items: flex-start;
    }
}


@media only screen and (max-width : 360px) {
    
    .heroSection,.secondSection{
        padding: 0.75rem;
    }
    .featuresSection,.signUpSection,.lastSection{
        padding: 0 0.75rem;
    }
   
    
}

