*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

h1,h2,p{ font-family: 'Roboto', sans-serif;}
h2{
    font-weight: 400;
}

/* hero section styling */
.heroSection {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("assets/hero.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 8rem;
}
.heroText,.heroHeadline{
    color: white;
}
.heroText{
    font-size: clamp(0.75rem, 1.075rem, 1.5rem);
}
.heroHeadline{
    font-size: clamp(2rem, 5vw + 1rem, 5rem);

}
.heroContent{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.ctaBtns{
    display: flex;
    gap: 20px;
}
.cta1, .cta2{
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: .1s ease-out;
}
.cta1{
    background-color:#4285F4; 
    color: black; 
    border: none;
}
.cta2{
    border: 2px solid #4285F4;
    color: #4285F4;
    background-color: black;
}
.cta1:hover {
    background-color: #0056b3; 
    color: white; 
}
.cta2:hover{
    background-color:#4285F4; 
    color: black; 
    
}
/*  form styling */
.signUpForm{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    padding: 20px;
    z-index: 20;

}
.closeForm {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background: black;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 8px; /* Remove padding */
    transition: .1s ease-out;
}
.closeForm:hover{
    background: red;
}

.closeFormSvg {
    display: inline-block;
    width: 100%; /* Make the SVG fill the button */
    height: 100%; /* Ensure it scales with the button */
    fill: white;
}

#myForm {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 500px;
    width: 450px;
    background-color: white;
    padding: 35px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    gap: 20px;
    animation: scale .1s ease-out;
    position: relative;
    z-index: 1;
}
#myForm::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    bottom: 0;
    left: 0; 
    background-color: #4285f4;

    
}
@keyframes scale {

    from{
        transform: scale(0.8);

    }
    to{
        transform: scale(1);
    }
    
}
.formHeader{
    margin: 20px 0;
    text-align: center;
    font-style: italic;
    letter-spacing: 2px;
}
#myForm label {
   
    font-weight: bold;
    letter-spacing: 0.5px;
}
#name,
#email,
#country {
    padding: 10px;
    border: none; /* Remove all borders */
    outline: none;
    border-bottom-width:  1px;
    border-bottom-style: solid;

    transition: border-bottom-color 0.3s;
    width: 100%;
    margin-top: 5px;
    background-color: #f8f8f8;
}

#country{
    border-bottom-color: #a0a0a0;
}
.filledInput
{
    border-bottom-color: #a0a0a0;
}

.emptyInput {
    border-width: 2px !important;
    border-bottom-color: red !important;
  
}
.error-message{
    margin-top: 3px;
    font-size: 14px;
}

#name:focus,
#email:focus,
#country:focus {
    border-bottom-color: #4285f4 !important; /* Google blue */
    border-bottom: 3px solid #4285f4 !important;
 
}


#myForm button[type="submit"] {
    padding: 10px 25px;
    background-color: #4285f4; /* Google blue */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: fit-content;
    align-self: flex-end;
    z-index: 1;
}

/** myForm button loader animation**/
.loader {
    width: 25px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,white 90%,#4285f4) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
  }
  @keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}

#myForm button[type="submit"]:hover {
    background-color: #357ae8; /* Darker shade of Google blue */
}



/* features(second) and third sections styling */
.featuresSection {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: start;
    align-items: center;
    padding: 1rem 8rem;
  }
  
  .featuresSectionHeader {
    font-size: clamp(1.2rem, 2vw + 1rem, 2.25rem);
    text-align: center;
  }
  
  .features {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    gap: 2rem;
   
  }
  
  .feature {
    display: flex;
    gap: 0.5rem;
    align-items: start;
    padding: 20px;
 
  }
  
  .number-box {
    background-color: #4285F4;
    padding: 5px 10px;
    color: white;
    font-size: 1.2rem;
    
  }
  
  .text-box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .text-box-header {
    font-size: 1.5rem;
    color: #2F2F2F;
  }
  
  .text-box-text {
    font-size: 1.075rem;
    color: #6B7280;
  }

  /* second and fourth sections styling */
.secondSection,.fourthSection{
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    padding:8rem;

}
  .secondSection{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("assets/image1.jpg");
    margin-top: 8rem;
  }
  .fourthSection{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("assets/image3.jpg");
  }
  .secondSectionContent{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.secondSectionHeadline{
    font-size: clamp(1.2rem, 2vw + 1rem, 2.25rem);
    color: white;
    text-align: start;
    
}
.secondSectionCards{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  
   
}
.secondSectionCard{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.secondSectionCard-header {
    font-size: 1.5rem;
   
  }
  
  .secondSectionCard-text {
    font-size: 1.075rem;
   
  
  }
  .secondSectionCard-bg{
    background-color: #23457A;
  }
  .secondSectionCard-number{
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    background-color: #23457A;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  /* 3rd section styling is same as feature section except some changes*/

  .featureBackground{
    background-color: #F9FAFB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  }
  /* signUp section styling */
  
  .signUpSection{
    margin-top: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 8rem;
    background-color: #F9FAFB; /* change background color  here  and if you wanted to change the text color go to .singUpSectionContent-header and .singUpSectionContent p  : its under here **/
    
  }
  .signUpSectionImgContainer{
    position: relative;
    width: 500px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    overflow: hidden;
  }
  .signUpSectionImgContainer img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .singUpSectionContent{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .singUpSectionContent-header{
    font-size: clamp(1.2rem, 2vw + 1rem, 2.25rem);
    color: #2F2F2F;
  }
  .singUpSectionContent p{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.075rem;
    color: #6B7280;
  }
  .joinWaitlist{
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: .1s ease-out;
    background-color:#4285F4; 
    color: white; 
    width: fit-content;
    border: none;
}

.joinWaitlist:hover {
    background-color: #0056b3; 
   
}
/* alst section styling*/

.lastSection{

    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding:8rem;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    background-color: #F9FAFB;
   
}
.lastSection h1{
    font-size: clamp(1.2rem, 2vw + 1rem, 2.25rem);
    color: #2F2F2F;
}
.lastSection p{
    font-size: 1.075rem;
    color: #6B7280;
}

/* alert */

.swal-button--confirm {
    background-color: #4285F4; /* Green */
    color: #fff; /* White text */
}
.swal-button--confirm:hover{
    background-color: #0056b3; 
}
.swal-text {
    font-size: 1.075rem;
    color: black;
    text-align: center;
}   
/* responsive */


@media only screen and (max-width : 1024px) {
    
    .secondSection,.featuresSection,.signUpSection{
        margin-top: 4px;
    }
}
@media only screen and (max-width : 1024px) {
    
    .heroSection{
        padding: 6rem;
    }
    .featuresSection,.secondSection,.signUpSection,.fourthSection,.lastSection{
        padding: 6rem 4rem;
    }
    .cta1, .cta2{
        padding: 13px 23px;
        border-radius: 5px;
        font-size: 15px;
      
    }


    .features{
        flex-direction: column;
    }
   
    .secondSection,.featuresSection,.signUpSection{
        margin-top: 2px;
    }
    .secondSectionCard-number{
        height: 85px;
    }
    
}

@media only screen and (max-width : 768px) {
    
    .heroSection{
        padding: 4rem;
    }
    .featuresSection,.secondSection,.signUpSection,.fourthSection,.lastSection{
        padding: 4rem 2rem;
    }
    .secondSection,.featuresSection,.signUpSection{
        margin-top: 0;
    }
    .cta1, .cta2{
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 14px;
      
    }
    .secondSection,.fourthSection{
        justify-content: center;
    }

    .secondSectionCards{
       grid-template-columns: 1fr;
    }
    
    .signUpSection{
        flex-direction: column;
       
    }
    .signUpSectionImgContainer{
        width: 400px;
    }
    .closeFormSvg{
        width: 15px;
    }
    .formHeader{
       font-size: 26px;
    }
    #myForm {
        padding: 35px 20px;
    }

    .secondSectionCard-number{
        height: 85px;
    }
}


@media only screen and (max-width : 640px) {
    
    .heroSection, .featuresSection,.secondSection,.signUpSection,.fourthSection,.lastSection{
        padding: 2rem;
    }
    .cta1, .cta2{
       font-size: 13px;
    }

    .signUpSectionImgContainer{
        width: 300px;
    }
  
    .featuresSection,.secondSection,.signUpSection,.fourthSection{
        margin-top: 0;
       
    }
    .secondSectionCard-number{
        height: 65px;
    }
}


@media only screen and (max-width : 360px) {
    
    .heroSection{
        padding: 0.75rem;
    }
   
    .featuresSection,.secondSection,.signUpSection,.fourthSection,.lastSection{
        padding :2rem 0.75rem;
    }
   
    
}

